<div carousel></div>

<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center> <h3 style = "font-family : 'Biryani', sans-serif;">Car thumbnail presentation</h3> </center>
        </div>
    </div>
</div>
<hr>


<!-- make them show up when user scrolls down -->
<car-list></car-list>


<!-- hover effects on these images -->
<div hover-images></div>




<hr>
    <div class="container-fluid" ng-controller="bannerCtrl">
        <div class="row">
            <div class="col-md-12 banner">
               <center> <h2 class = 'gidd' 
                            when-visible = 'animateElementIn' 
                            when-not-visible = 'animateElementOut'>Boys never grow up , the toys get <strong> bigger</strong></h2> </center>
            </div>
        </div>
    </div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 footer">
            <center>
                   <h3 style="color: white">Follow us </h3>
                   <a style = 'text-decoration : none' href = 'http://www.facebook.com' target = '_blank'> <img src = 'images/social/facebook.png'> </a>
                   <img src = 'images/social/twitter.png'>
                   <img src = "images/social/youtube-2.png">
            </center>
        </div>
    </div>
</div>
   
   

    
<!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 newStyle">
                <img src="images/silverstone.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>

    
    
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12 customDisplay">
               <div class = noSpace>
              <h3 class = 'captionTxt'>Discover the most outrageous cars available at the moment.</h3> 
               </div>   
            </div>
            
        </div>
    </div>

    
    <div class="container" ng-controller="tileCarsCtrl">
        
        <div class="row">
                   
                <div class="col-md-4 limited" ng-repeat="tile in tiles">
                    
                   <div class="ih-item square effect12 top_to_bottom">
                       <a>
                            <div class="img">
                                <img class = 'img-responsive' ng-src = {{tile.image}}>
                            </div>
                            <div class="info">
                              <p></p>
                              <p></p>
                              <p>{{tile.description}}</p>
                              <button class = 'btn btn-primary'>Find more</button>
                            </div>
                       </a>
                   </div>
                    
                </div>

        </div>
        

    </div>
    
-->


    
<!--    <button class="btn btn-primary">Sure</button>-->
    