<div class="contact_header"> <h1>Contact</h1> </div>
<hr>
<center> <h1>We'd <span class="glyphicon glyphicon-heart"></span> to hear from you!</h1> </center>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-lg-6">
            <input class = 'form-control form_name' type = 'text' placeholder = 'Your name'>   
            <input class = 'form-control form_email' type = 'email' placeholder = "Your email">
            <textarea class = 'form-control form_textarea' rows = '5' placeholder = "Message.."></textarea> 
            <button class = 'btn btn-primary btn-block form_button'>Send</button>
        </div>
        <div class="col-md-6 col-xs-8 col-lg-6">
            <p style = 'margin: 6px'> <span class="glyphicon glyphicon-envelope"></span> Write us at carsGo@gmail.com </p>

             
        </div>
    </div>
</div>